<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sample Notice Regist</title>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript">
$(document).ready(function() {
	
});

function fnInsert() {
	var obj = new Object();
	obj.title = $("#title").val();
	obj.content = $("#content").val();
	obj.memberid = $("#memberid").val();
	
	$.ajax({
		type : "POST",
		async : false,
		contentType : "application/json",
		data : JSON.stringify(obj),
		dataType : "json",
		url : "/portal/sample/addSample",
		success : function(data) {
			alert(data.resultMsg);
			window.location.href="/portal/sample/sampleList";
		},
		error : function(data) {
			alert("문제가 발생하였습니다. 담당자에게 문의하여 주시기 바랍니다.");
		}
	});
}

function fnList() {
	window.location.href="/portal/sample/sampleList";
}
</script>
</head>
<body>

<table id="noticeTbl">
	<caption>샘플 게시판 등록</caption>
	<colgroup>
		<col style="width: 30%" />
		<col style="width: 70%" />
	</colgroup>
	<tbody style="text-align: center;">
		<tr>
			<td>제목</td>
			<td><input id="title" name="title" value="" style="width:300px;" /></td>
		</tr>
		<tr>
			<td>내용</td>
			<td><textarea id="content" name="content" rows="10" cols="40"></textarea></td>
		</tr>
		<tr>
			<td>아이디</td>
			<td><input id="memberid" name="memberid" value="dsuser01" style="width:300px;" /></td>
		</tr>
	</tbody>
</table>
<p style="margin-left:200px;">
	<button id="listBtn" onclick="javascript:fnList();">게시판 리스트</button>
	<button id="insertBtn" onclick="javascript:fnInsert();">등록</button>
</p>
</body>
</html>